body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 131, 131);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(250, 182, 182);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    resize: vertical;
    font-size: 20px;

}

p {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(86, 86, 86);
}

#charCount{
  color: rgb(60, 164, 255);
}
#remainingCharCount{
    color: red;
}